@using System.Security.Claims
@model IEnumerable<WebEnterprise.Models.DTO.PostDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}


@{
    List<int> selectedids = new List<int>();
    if (TempData["CatIds"] != null)
    {
        selectedids = TempData["CatIds"].ToString().Split(',')
        .Select(id => Int32.Parse(id)).ToList();
    }
    var userid = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<!DOCTYPE html>
<html>
<head>
    <style>

        .Add {
            margin-left: 80%;
            display: inline-grid;
            margin-bottom: 1%;
        }
    </style>
</head>

<h1 class="text-center">
    View Posts
</h1>

@if (TempData["message"] != null)
{
    ViewBag.Message = TempData["message"];
}
@Html.Partial("_Message")

<div class="nk-content px-2">
    <div class="nk-block-head-content">
        <ul class="nk-block-tools">
            <li class="nk-block-tools-opt">
                <a data-target="addpost" class="toggle btn btn-info " style=" color:white"><em class="icon ni ni-plus"></em><span>Add Post</span></a>
            </li>
        </ul>
    </div>
    <div class="btn-group mt-4 align-center" role="group">
      <button type="button" class="btn btn-outline-light justify-center" id="normal"><em class="icon ni ni-arrow-up"></em><span>Normal</span></button>
      <button type="button" class="btn btn-outline-light justify-center" id="lastest"><em class="icon ni ni-arrow-down"></em><span>Lastest Posts</span></button>
      <button type="button" class="btn btn-outline-light justify-center" id="most-like"><em class="icon ni ni-thumbs-up"></em><em class="icon ni ni-thumbs-down"></em><span>Most Like Posts</span></button>
    </div>
</div>

<div class="nk-block">
    <div class="card-inner-group">
        <div class="nk-content-inner">

            <div class="nk-content-body">

                @foreach (var item in Model)
                {
                    <div class="col mb-2">
                        <div class="card h-100">
                            <div class="card-inner">
                                <div class="card-title-group align-start gx-3 mb-3">
                                    <div class="card-title">
                                        <h6 class="title">@Html.DisplayFor(modelItem => item.Title)</h6>
                                        <span class="tb-sub">By
                                            @if (!string.IsNullOrEmpty(item.AuthorName))
                                            {
                                                @Html.DisplayFor(modelItem => item.AuthorName)
                                            }
                                            else
                                            {
                                                <span>Admin</span>
                                            }
                                        </span>

                                        <p>On @Html.DisplayFor(modelItem => item.OpenDate)</p>
                                    </div>
                                </div>

                                <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
                                    @*//-------------------------------------------------------------*@

                                    <div class="nk-tb-col">
                                        <span class="tb-sub">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </span>
                                    </div>

                                    @*----------------------------------------------------------*@

                                    @*
                                        <div class="nk-sale-data">
                                        <span class="amount sm">1,937 <small>Subscribers</small></span>
                                        </div>*@

                                </div>
                            </div><!-- .card -->


                        <div id="Placeholder"></div>

                            @*-----------Like and comment-------------*@
                            <div>
                                <div class="btn-parent row text-center">
                                    <div class="col-12 text-center">
                                        <input hidden value="@item.Id" class="post-id" />
                                        @if(item.Status == null)
                                        {
                                            <button type="button" class="btn btn-light btn-like" data-status=@(item.Status == true ? "true": item.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-up mr-1" aria-hidden="true"></i> <span>@item.Like</span>
                                            </button>
                                            <button type="button" class="btn btn-light btn-dislike" data-status=@(item.Status == true ? "true": item.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-down mr-1" aria-hidden="true"></i> <span>@item.DisLike</span>
                                            </button>
                                        }
                                        @if (item.Status == true)
                                        {
                                            <button type="button" class="btn btn-success btn-like" data-status=@(item.Status == true ? "true": item.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-up mr-1" aria-hidden="true"></i> <span>@item.Like</span>
                                            </button>
                                            <button type="button" class="btn btn-light btn-dislike" data-status=@(item.Status == true ? "true": item.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-down mr-1" aria-hidden="true"></i> <span>@item.DisLike</span>
                                            </button>
                                        }
                                        @if(item.Status == false)
                                        {
                                            <button type="button" class="btn btn-light btn-like" data-status=@(item.Status == true ? "true": item.Status == false ? "false": null)>
                                            <i class="fas fa-thumbs-up mr-1" aria-hidden="true"></i> <span>@item.Like</span>
                                            </button>
                                            <button type="button" class="btn btn-success btn-dislike" data-status=@(item.Status == true ? "true": item.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-down mr-1" aria-hidden="true"></i> <span>@item.DisLike</span>
                                            </button>
                                        }
                                        <a class="btn btn-light" asp-action="ShowComment" asp-controller="User" asp-route-id="@item.Id"><em class="icon ni ni-comments"></em>
                                            <span>Comment</span>
                                        </a>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>

                        </div><!-- .col -->

                    </div>
                }
                <div class="ml-2">
                    @Html.Partial("PagingPartial")
                </div>
                


                <form method="post" asp-action="AddPost" asp-controller="User">
                    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addpost" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h5 class="nk-block-title">New Post</h5>
                                <div class="nk-block-des">
                                    <p>Add Post Status.</p>
                                </div>
                            </div>
                        </div><!-- .nk-block-head -->



                        <div class="nk-block">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="Email">Title</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="Title">
                                        </div>
                                    </div>
                                </div>


                                <div class="btn-group">
                                    <button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Category
                                    </button>
                                    <div class="dropdown-menu">

                                        @foreach (var r in ViewBag.Cat)
                                        {
                                            <li class="nk-menu-item has-sub">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        value="@r.Id" id="@r.Name" name="CatIds"
                                                        @(selectedids.Contains(r.Id) ? "checked" : string.Empty) />
                                                    <label class="form-check-label" for="@r.Name">
                                                        @r.Name
                                                    </label>
                                                </div>
                                            </li>
                                        }

                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="Description">Description</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="Description">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#example" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Add</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                      <!-- Modal -->
                    <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="exampleModalLabel">Are You Agree</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div>
                                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                                        quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                                    </div>
                                    <input type="checkbox" name="accept" id="accept"/>
                                    <label for="accept">Terms</label>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success" id="btn-accept" disabled>Continue</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            var params = GetQueryParams()
            var filter = parseInt(params.filter1)
            
            switch(filter){
                case 1:
                    $("#lastest").addClass("active")
                    break;
                case 2:
                    $("#most-like").addClass("active")
                    break;
                default:
                    $("#normal").addClass("active")
                    break;
            }

            $('#normal').click(function(){
                params['filter1'] = "0"
                url = window.location.href.split('?')[0] + '?'

                Object.keys(params).map(key => {
                    url += `${key}=${params[key]}&`
                })
                url = url.substr(0, url.length - 1)
                window.location.href = url
            })
            $('#lastest').click(function(){
                params['filter1'] = "1"
                url = window.location.href.split('?')[0] + '?'

                Object.keys(params).map(key => {
                    url += `${key}=${params[key]}&`
                })
                url = url.substr(0, url.length - 1)
                window.location.href = url
            })
            $('#most-like').click(function(){
                params['filter1'] = "2"
                url = window.location.href.split('?')[0] + '?'

                Object.keys(params).map(key => {
                    url += `${key}=${params[key]}&`
                })
                url = url.substr(0, url.length - 1)
                window.location.href = url
            })

            $('#accept').click(function(){
                var check = $('#accept').is(":checked")
                if(check){
                    $('#btn-accept').removeAttr('disabled')
                }
                else{
                    $('#btn-accept').attr('disabled', true)
                }
            })
            $('.btn-like').click(function(){
                var parent = $(this).parents('.btn-parent')
                var postId = parent.find('.post-id').val()
                var userId = "@userid"
                var thisEl = $(this)
                var status = $(this).data("status")

                var data = {
                    "postId": postId,
                    "userId": userId,
                    "status": status === true ? null: true
                }
                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Like", "User")',
                    data: req = JSON.stringify(data),
                    cache: false,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    success: function(res){
                        var oldNumber = parseInt(thisEl.find("span").text());
                        if (res.status) {
                            thisEl.find("span").text(oldNumber + 1)
                            thisEl.removeClass().addClass("btn btn-success btn-like")
                            thisEl.parent().find(".btn-dislike").removeClass().addClass("btn btn-light btn-dislike")
                        }
                        else
                        {
                            thisEl.find("span").text(oldNumber - 1)
                            thisEl.removeClass().addClass("btn btn-light btn-like")
                            thisEl.parent().find(".btn-dislike").removeClass().addClass("btn btn-light btn-dislike")
                        }
                        if (status === false) {
                            var oldDisNumber = parseInt(thisEl.parent().find(".btn-dislike").find("span").text());
                            thisEl.parent().find(".btn-dislike").find("span").text(oldDisNumber - 1)
                        }
                        thisEl.data("status", res.status)
                        thisEl.parent().find(".btn-dislike").data("status", res.status)
                    }
                })
            })
            $('.btn-dislike').click(function(){
                var parent = $(this).parents('.btn-parent')
                var postId = parent.find('.post-id').val()
                var userId = "@userid"
                var thisEl = $(this)
                var status = $(this).data("status")
                console.log(status);
                var data = {
                    "postId": postId,
                    "userId": userId,
                    "status": status === false ? null: false
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DisLike", "User")',
                    data: req = JSON.stringify(data),
                    cache: false,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    success: function(res){
                        var oldNumber = parseInt(thisEl.find("span").text());
                        if (res.status === false) {
                            thisEl.find("span").text(oldNumber + 1)
                            thisEl.removeClass().addClass("btn btn-success btn-dislike")
                            thisEl.parent().find(".btn-like").removeClass().addClass("btn btn-light btn-like")
                        }
                        else
                        {
                            thisEl.find("span").text(oldNumber - 1)
                            thisEl.parent().find(".btn-like").removeClass().addClass("btn btn-light btn-like")
                            thisEl.removeClass().addClass("btn btn-light btn-dislike")
                        }
                        if (status === true) {
                            var oldLikeNumber = parseInt(thisEl.parent().find(".btn-like").find("span").text());
                            console.log(oldLikeNumber)
                            thisEl.parent().find(".btn-like").find("span").text(oldLikeNumber - 1)
                        }
                        thisEl.data("status", res.status)
                        thisEl.parent().find(".btn-like").data("status", res.status)
                    }
                })
            })
        })

        function GetQueryParams(){
            var urlSearchParams = new URLSearchParams(window.location.search)
            var params = []

            Object.entries(Object.fromEntries(urlSearchParams.entries())).map(([key, value]) => {
                params[key.toLowerCase()] = value
            })
            return params
        }
    </script>
}
