@using System.Security.Claims
@using WebEnterprise.Models.DTO
@model IEnumerable<WebEnterprise.Models.DTO.CommentDTO>
<html lang="zxx" class="js">

<div class="style">
    @if (TempData["message"] != null)
    {
        ViewBag.Message = TempData["message"];
    }
    @{
        PostDTO post = ViewBag.Post;
        var userid = User.FindFirstValue(ClaimTypes.NameIdentifier);
    }
    @Html.Partial("_Message")
</div>
<body class="nk-body bg-lighter npc-general has-sidebar ">
    <!-- main header  -->
    <!-- main header  -->
    <!-- content  -->
    <div class="nk-content">
        <div class="nk-content ml-1">
            <div class="nk-block-head-content">
                <button class="btn btn-outline-light" onclick="window.location.href(history.back())"><em class="icon ni ni-arrow-left"></em><span>Back</span></button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">

                    <div class="col mb-2">
                        <div class="card h-100">
                            <div class="card-inner">
                                <div class="card-title-group align-start gx-3 mb-3">
                                    <div class="card-title">
                                        <h6 class="title">@post.Title</h6>
                                        <span class="tb-sub">
                                            By
                                            @if (string.IsNullOrEmpty(@post.AuthorName))
                                            {
                                                <span>Admin</span>
                                            }
                                            else
                                            {
                                                @post.AuthorName
                                            }
                                        </span>

                                        <p>On @post.OpenDate</p>
                                    </div>
                                </div>

                                <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
                                    @*//-------------------------------------------------------------*@

                                    <div class="nk-tb-col">
                                        <span class="tb-sub">
                                            <h8>
                                                @post.Description
                                            </h8>
                                        </span>
                                    </div>

                                </div>
                            </div><!-- .card -->


                            <div id="Placeholder"></div>

                            @*-----------Like and comment-------------*@
                            <div>
                                <div class="btn-parent row text-center">
                                    <div class="col-12 text-center">
                                        <input hidden value="@post.Id" class="post-id" />
                                        @if(post.Status == null)
                                        {
                                            <button type="button" class="btn btn-light btn-like" data-status=@(post.Status == true ? "true": post.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-up mr-1" aria-hidden="true"></i> <span>@post.Like</span>
                                            </button>
                                            <button type="button" class="btn btn-light btn-dislike" data-status=@(post.Status == true ? "true": post.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-down mr-1" aria-hidden="true"></i> <span>@post.DisLike</span>
                                            </button>
                                        }
                                        @if (post.Status == true)
                                        {
                                            <button type="button" class="btn btn-success btn-like" data-status=@(post.Status == true ? "true": post.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-up mr-1" aria-hidden="true"></i> <span>@post.Like</span>
                                            </button>
                                            <button type="button" class="btn btn-light btn-dislike" data-status=@(post.Status == true ? "true": post.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-down mr-1" aria-hidden="true"></i> <span>@post.DisLike</span>
                                            </button>
                                        }
                                        @if(post.Status == false)
                                        {
                                            <button type="button" class="btn btn-light btn-like" data-status=@(post.Status == true ? "true": post.Status == false ? "false": null)>
                                            <i class="fas fa-thumbs-up mr-1" aria-hidden="true"></i> <span>@post.Like</span>
                                            </button>
                                            <button type="button" class="btn btn-success btn-dislike" data-status=@(post.Status == true ? "true": post.Status == false ? "false": null)>
                                                <i class="fas fa-thumbs-down mr-1" aria-hidden="true"></i> <span>@post.DisLike</span>
                                            </button>
                                        }
                                        <a data-target="comment" class="toggle btn btn-secondary d-none d-md-inline-flex" style="color:white"><em class="icon ni ni-comments"></em><span>Comment</span></a>
                                    </div>
                                </div>
                            </div>

                        </div><!-- .col -->

                    </div>


                    <div>
                        @foreach (var item in Model)
                        {
                            <div class=" d-flex justify-content-between bg-white" style="box-sizing: border-box;margin:14px;">

                                <div>
                                    <div class="nk-tb-col d-block" >
                                        <span class="tb-sub" style="font-weight: bold;">
                                            @Html.DisplayFor(modelItem => item.AuthorName)
                                        </span>
                                    </div>
                                    <div class="nk-tb-col" style="padding-left:1.5em; padding-top:0px">
                                        <span class="tb-sub">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </span>
                                    </div>

                                    
                                </div>


                                <div class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-1 my-n1">
                                        <li class="mr-n1">
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li>
                                                            <span class="toggle" data-target="editComment" data-comment="@String.Format("{0}|{1}",
                                                            item.ToSeparatedString("|"), Url.Action("EditComment",new { id = item.CommentId}))">@Html.ActionLink("Edit", "EditComment")</span>
                                                        </li>
                                                        <li><span>@Html.ActionLink("Delete", "DeleteComment", new { id = item.CommentId }, new {onClick = "return confirm('Are you sure?')"})</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- .nk-tb-item -->
                        }
                    </div>

                    <form id="comment" method="post" asp-action="Comment" asp-controller="User">
                        <div class="nk-add-product toggle-slide toggle-slide-right" data-content="comment" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title">New Post</h5>
                                    <div class="nk-block-des">
                                        <p>Add Post Status.</p>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->



                            <div class="nk-block">
                                <div class="row g-3">

                                    <input type="hidden" class="form-control" id="post-id" name="PostId" value="@post.Id">

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="Description">Description</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="Description">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Add</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <form id="editComment" method="post" asp-action="EditComment" asp-controller="User">
        <div class="nk-add-product toggle-slide toggle-slide-right" data-content="editComment" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h5 class="nk-block-title">New Post</h5>
                    <div class="nk-block-des">
                        <p>Add Post Status.</p>
                    </div>
                </div>
            </div><!-- .nk-block-head -->

            <div class="nk-block">
                <div class="row g-3">


                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="Description">Description</label>
                            <div class="form-control-wrap">
                                <input type="text" id="Description" class="form-control" name="Description">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="PostId" class="form-control" name="PostId">
                    <input type="hidden" id="CommentId" class="form-control" name="CommentId">

                    <div class="col-12">
                        <button class="btn btn-primary"><span>Edit</span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>



    </div>
    </div>
    </div>
    </div>

</body>
</html>


@section scripts
    {
<script type="text/javascript">
    $('document').ready(function() {
        $('span[data-comment]').on('click', function (evt) {
            let item = $(this).attr('data-comment').split("|");
            console.log(item);
            $('#Description').attr('value', item[0]);
            $('#PostId').attr('value', item[1]);
            $('#CommentId').attr('value', item[2]);
            $('#EditComment').attr('action', item[3]);
        });
        $('.btn-like').click(function(){
                var parent = $(this).parents('.btn-parent')
                var postId = parent.find('.post-id').val()
                var userId = "@userid"
                var thisEl = $(this)
                var status = $(this).data("status")

                var data = {
                    "postId": postId,
                    "userId": userId,
                    "status": status === true ? null: true
                }
                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Like", "User")',
                    data: req = JSON.stringify(data),
                    cache: false,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    success: function(res){
                        var oldNumber = parseInt(thisEl.find("span").text());
                        if (res.status) {
                            thisEl.find("span").text(oldNumber + 1)
                            thisEl.removeClass().addClass("btn btn-success btn-like")
                            thisEl.parent().find(".btn-dislike").removeClass().addClass("btn btn-light btn-dislike")
                        }
                        else
                        {
                            thisEl.find("span").text(oldNumber - 1)
                            thisEl.removeClass().addClass("btn btn-light btn-like")
                            thisEl.parent().find(".btn-dislike").removeClass().addClass("btn btn-light btn-dislike")
                        }
                        if (status === false) {
                            var oldDisNumber = parseInt(thisEl.parent().find(".btn-dislike").find("span").text());
                            thisEl.parent().find(".btn-dislike").find("span").text(oldDisNumber - 1)
                        }
                        thisEl.data("status", res.status)
                        thisEl.parent().find(".btn-dislike").data("status", res.status)
                    }
                })
            })
            $('.btn-dislike').click(function(){
                var parent = $(this).parents('.btn-parent')
                var postId = parent.find('.post-id').val()
                var userId = "@userid"
                var thisEl = $(this)
                var status = $(this).data("status")
                console.log(status);
                var data = {
                    "postId": postId,
                    "userId": userId,
                    "status": status === false ? null: false
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DisLike", "User")',
                    data: req = JSON.stringify(data),
                    cache: false,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    success: function(res){
                        var oldNumber = parseInt(thisEl.find("span").text());
                        if (res.status === false) {
                            thisEl.find("span").text(oldNumber + 1)
                            thisEl.removeClass().addClass("btn btn-success btn-dislike")
                            thisEl.parent().find(".btn-like").removeClass().addClass("btn btn-light btn-like")
                        }
                        else
                        {
                            thisEl.find("span").text(oldNumber - 1)
                            thisEl.parent().find(".btn-like").removeClass().addClass("btn btn-light btn-like")
                            thisEl.removeClass().addClass("btn btn-light btn-dislike")
                        }
                        if (status === true) {
                            var oldLikeNumber = parseInt(thisEl.parent().find(".btn-like").find("span").text());
                            console.log(oldLikeNumber)
                            thisEl.parent().find(".btn-like").find("span").text(oldLikeNumber - 1)
                        }
                        thisEl.data("status", res.status)
                        thisEl.parent().find(".btn-like").data("status", res.status)
                    }
                })
            })
    });

</script>
}
