@using System.Security.Claims
@model IEnumerable<WebEnterprise.Models.DTO.PostDTO>
@{
    ViewData["Title"] = "UserWall";
    Layout = "../Shared/_Layout.cshtml";
}


@{
    List<int> selectedids = new List<int>();
    if (TempData["CatIds"] != null)
    {
        selectedids = TempData["CatIds"].ToString().Split(',')
        .Select(id => Int32.Parse(id)).ToList();
    }
    var userid = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: GrayText;
        }

        h1 {
            color: beige;
        }

        p {
            color: red;
        }

        .Add {
            margin-left: 80%;
            display: inline-grid;
            margin-bottom: 1%;
        }
    </style>
</head>

<h1>
    this is post
</h1>

<div class="nk-content ">
    <div class="style">
        @if (TempData["message"] != null)
        {
            ViewBag.Message = TempData["message"];
        }
        @Html.Partial("_Message")
    </div>
    <br />



    <div class="Add">
        <li class="nk-block-tools-opt">
            <a data-target="addpost" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
            <a data-target="addpost" class="toggle btn btn-info " style=" color:white"><em class="icon ni ni-plus"></em><span>Add Post</span></a>
        </li>
    </div>

    <div class="container-fluid">
        <div class="nk-content-inner">

            <div class="nk-content-body">



                @foreach (var item in Model)
                {
                    <div class="col-xxl-6">
                        <div class="card h-100">
                            <div class="card-inner">
                                <div class="card-title-group align-start gx-3 mb-3">
                                    <div class="card-title">
                                        <h6 class="title">@Html.DisplayFor(modelItem => item.Title)</h6>
                                        <span class="tb-sub">
                                            @Html.DisplayFor(modelItem => item.AuthorName)
                                        </span>

                                        <p>@Html.DisplayFor(modelItem => item.OpenDate)</p>
                                    </div>
                                    <div class="card-tools">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-primary btn-dim d-none d-sm-inline-flex" data-toggle="dropdown"><em class="icon ni ni-download-cloud"></em><span><span class="d-none d-md-inline">Download</span> Report</span></a>
                                            <a href="#" class="btn btn-icon btn-primary btn-dim d-sm-none" data-toggle="dropdown"><em class="icon ni ni-download-cloud"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><span>Download Mini Version</span></a></li>
                                                    <li><a href="#"><span>Download Full Version</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
                                    @*//-------------------------------------------------------------*@

                                    <div class="nk-tb-col">
                                        <span class="tb-sub">
                                            <h8>
                                                @Html.DisplayFor(modelItem => item.Description)
                                                ------------------------------------------------------------
                                                #gre_cfs125752
                                                GẤP
                                                em chào ac ạ, em là 2k4 đang có quan tâm đến Greenwich, mong là các vị tiền có thể giải đáp giúp em một số câu hỏi sau chứ em giờ đang rối bời lắm ạ :((
                                                1, học truyền thông tại Greenwich so với các trường công khác (như ajc, hanu, xhnv,..) thế nào ạ?
                                                2, em tham khảo thấy học phí ở cơ sở ĐN, CT được giảm 30%, cho em hỏi là học tại các campus khác nhau thì có gì khác mà lại chênh giá thế ạ?
                                                3, marketing và truyền thông thì nên theo ngành nào tốt hơn ạ?
                                                4, ngoài học bổng đầu vào ra trong quá trình học liệu có cơ hội để lấy học bổng k ạ?
                                                5, em xin review của các tiền bối về chất lượng giảng dạy và quá trình học tập ở G đc k ạ :((
                                                6, trong quá trình học có cơ hội để apply nhận cv thực tập k ạ
                                                7, bao nhiêu ielts thì được miễn học lớp dự bị tiếng anh thế ạ?
                                                Hic em mong là mng có thể giải đáp giúp em ạ, em cảm ơn ac rất rất nhiều ạaa 🥰🥰
                                            </h8>
                                        </span>
                                    </div>

                                    @*----------------------------------------------------------*@

                                    @*
                                        <div class="nk-sale-data">
                                        <span class="amount sm">1,937 <small>Subscribers</small></span>
                                        </div>*@

                                </div>
                            </div><!-- .card -->


                        <div id="Placeholder"></div>

                            @*-----------Like and comment-------------*@
                            <center>
                                <table>
                                    <tr class="btn-parent">
                                        <th scope="col"></th>
                                        <th scope="col">
                                            <input hidden value="@item.Id" class="post-id" />
                                            <button type="button" class="btn btn-primary btn-like">
                                                Like
                                            </button>
                                            <button type="button" class="btn btn-primary btn-dislike">
                                                Dislike
                                            </button>
                                        </th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col">
                                            <button class="btn btn-info">
                                                @Html.ActionLink("Comment", "ShowComment" ,new { id = item.Id })
                                            </button>
                                        </th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>

                                        <th>

                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1 my-n1">
                                                    <li class="mr-n1">
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><span>@Html.ActionLink("Edit", "EditPost", new { id = item.Id })</span></li>
                                                                    <li><span>@Html.ActionLink("Delete", "DeletePost", new { id = item.Id }, new {onClick = "return confirm('Are you sure?')"})</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </th>
                                    </tr>
                                </table>
                            </center>

                        </div><!-- .col -->

                    <table>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </table>

                    </div>
                }


                <form method="post" asp-action="AddPost" asp-controller="User">
                    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addpost" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h5 class="nk-block-title">New Post</h5>
                                <div class="nk-block-des">
                                    <p>Add Post Status.</p>
                                </div>
                            </div>
                        </div><!-- .nk-block-head -->



                        <div class="nk-block">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="Email">Title</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="Title">
                                        </div>
                                    </div>
                                </div>


                                <div class="btn-group">
                                    <button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Category
                                    </button>
                                    <div class="dropdown-menu">

                                        @foreach (var r in ViewBag.Cat)
                                        {
                                            <li class="nk-menu-item has-sub">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                       value="@r.Id" id="@r.Name" name="CatIds"
                                                       @(selectedids.Contains(r.Id) ? "checked" : string.Empty) />
                                                    <label class="form-check-label" for="@r.Name">
                                                        @r.Name
                                                    </label>
                                                </div>
                                            </li>
                                        }

                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="Description">Description</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="Description">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#example" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Add</span></button>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="exampleModalLabel">Are You Agree</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                                    quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-secondary">Accept</button>
                                </div>


                            </div>
                        </div>
                    </div>

                </form>




            </div>
        </div>
    </div>
</div>



            </div>
        </div>
    </div>
</div>




@section Scripts{
<script type="text/javascript">
    $(function() {
      $( "i" ).click(function() {
        $( "i,span" ).toggleClass( "press", 1000 );
      });
    });

    $(document).ready(function() {
        $('.btn-like').click(function(){
            var parent = $(this).parents('.btn-parent')
            var postId = parent.find('.post-id').val()
            var userId = "@userid"
            var thisEl = $(this)
            var data = {
                "postId": postId,
                "userId": userId,
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Like", "User")',
                data: req = JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: false,
                success: function(res){
                    thisEl.text("Liked")
                    thisEl.attr('disabled', true)
                    parent.find('.btn-dislike').hide()
                }
            })
        })
        $('.btn-dislike').click(function(){
            var parent = $(this).parents('.btn-parent')
            var postId = parent.find('.post-id').val()
            var userId = "@userid"
            var thisEl = $(this)
            var data = {
                "postId": postId,
                "userId": userId,
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DisLike", "User")',
                data: req = JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: false,
                success: function(res){
                    thisEl.text("DisLiked")
                    thisEl.attr('disabled', true)
                    parent.find('.btn-like').hide()
                }
            })
        })
    })
</script>
}
