@using WebEnterprise.Models.Common
@{
    CommonPaging paging = ViewBag.Paging;
}

@if(paging.TotalPages >= 1)
{
    <ul class="pagination mt-2">
        <li class="page-item">
            <a class="page-link" asp-route-pageIndex="@paging.PrevPage" asp-route-pageSize="@paging.PageSize" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for(int i = 1; i<= paging.TotalPages; i++)
        {
            if (@paging.PageIndex == i)
            {
                <li class="page-item active">
                    <button class="page-link">@i</button>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-route-pageIndex="@i" asp-route-pageSize="@paging.PageSize" class="page-link">@i</a>
                </li>
            }
        }
        <li class="page-item">
            <a class="page-link" asp-route-pageIndex="@paging.NextPage" asp-route-pageSize="@paging.PageSize" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
}
