@model IEnumerable<WebEnterprise.Models.DTO.PostDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_AdminLayout.cshtml";
}
@{
    List<int> selectedids = new List<int>();
    if (TempData["CatIds"] != null)
    {
        selectedids = TempData["CatIds"].ToString().Split(',')
        .Select(id => Int32.Parse(id)).ToList();
    }
}

@if (TempData["message"] != null)
{
    ViewBag.Message = TempData["message"];
}

<!DOCTYPE html>
<html lang="zxx" class="js">
    @await Html.PartialAsync("_Message")
<body class="nk-body bg-lighter npc-general has-sidebar ">


    <!-- main header  -->
    <!-- main header  -->
    <!-- content  -->
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">Post</h3>
                            </div><!-- .nk-block-head-content -->
                            <div class="nk-block-head-content">
                                <div class="toggle-wrap nk-block-tools-toggle">
                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                    <div class="toggle-expand-content" data-content="pageMenu">
                                        <ul class="nk-block-tools g-3">
                                            <li>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="search" placeholder="Search">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-success d-md-inline-flex" id="btn-search"><em class="icon ni ni-search"></em></button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nk-block-tools-opt">
                                                <a data-target="addpost" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                                <a data-target="addpost" class="toggle btn btn-primary d-none d-md-inline-flex mr-1" style=" color:white"><em class="icon ni ni-plus"></em><span>Add Post</span></a>
                                                <a asp-action="Export" class="btn btn-primary d-none d-md-inline-flex" style=" color:white"><em class="icon ni ni-plus"></em><span>Export</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head-content -->
                        </div><!-- .nk-block-between -->
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner-group">
                                <div class="card-inner p-0">
                                    <div class="nk-tb-list">
                                        <div class="nk-tb-item nk-tb-head">
                                            <div class="nk-tb-col tb-col-sm"><span>Title</span></div>
                                            <div class="nk-tb-col tb-col-md"><span>Category</span></div>
                                            <div class="nk-tb-col tb-col-md"><span>Description</span></div>
                                            <div class="nk-tb-col tb-col-md"><span>Author</span></div>
                                            <div class="nk-tb-col tb-col-md"><span>Like</span></div>

                                            <div class="nk-tb-col tb-col-md">
                                                <ul class="nk-tb-actions gx-1 my-n1">

                                                    <li class="mr-n1">
                                                        <div><span>Action</span></div>
                                                    </li>

                                                </ul>
                                            </div>

                                        </div><!-- .nk-tb-item -->
                                        @foreach (var item in Model)
                                        {
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-lead">
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </span>
                                                </div>

                                                <div class="nk-tb-col">
                                                    <span class="tb-lead">
                                                        @Html.DisplayFor(modelItem => item.CatName)
                                                    </span>
                                                </div>

                                                <div class="nk-tb-col">
                                                    <span class="tb-sub">
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </span>
                                                </div>

                                                <div class="nk-tb-col">
                                                    <span class="tb-sub">
                                                        @Html.DisplayFor(modelItem => item.AuthorName)
                                                    </span>
                                                </div>

                                                <div class="nk-tb-col">
                                                    <span class="tb-sub">
                                                        @Html.DisplayFor(modelItem => item.Like)
                                                    </span>
                                                </div>
                                                
                                                <div class="nk-tb-col nk-tb-col-tools">
                                                    <ul class="nk-tb-actions gx-1 my-n1">
                                                        <li class="mr-n1">
                                                            <div class="dropdown">
                                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><span>@Html.ActionLink("Edit", "EditPost", new { id = item.Id })</span></li>
                                                                        <li><span>@Html.ActionLink("Delete", "DeletePost", new { id = item.Id }, new {onClick = "return confirm('Are you sure?')"})</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- .nk-tb-item -->
                                        }


                                    </div><!-- .nk-tb-list -->
                                </div>

                            </div>
                        </div>
                    </div>
                    @Html.Partial("PagingPartial")




                    <form method="post" asp-action="AddPost" asp-controller="Post">
                        <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addpost" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title">New Post</h5>
                                    <div class="nk-block-des">
                                        <p>Add Post Status.</p>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->



                            <div class="nk-block">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="Email">Title</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="Title">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="btn-group">
                                        <button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Category
                                        </button>
                                        <div class="dropdown-menu">

                                            @foreach (var r in ViewBag.Cat)
                                            {
                                                <li class="nk-menu-item has-sub">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"
                                                           value="@r.Id" id="@r.Name" name="CatIds"
                                                           @(selectedids.Contains(r.Id) ? "checked" : string.Empty) />
                                                        <label class="form-check-label" for="@r.Name">
                                                            @r.Name
                                                        </label>
                                                    </div>
                                                </li>
                                            }

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="Description">Description</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="Description">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Add</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- content  -->

</body>
</html>
@section scripts{
    <script>
        $(document).ready(function(){
            $('#btn-search').click(function(){
                var urlSearchParams = new URLSearchParams(window.location.search)
                var params = []
                Object.entries(Object.fromEntries(urlSearchParams.entries())).map(([key, value]) => {
                    params[key.toLowerCase()] = value
                })

                params['keyword'] = $('#search').val()
                params['pagesize']
                params['pageindex']

                url = window.location.href.split('?')[0] + '?'

                Object.keys(params).map(key => {
                    url += `${key}=${params[key]}&`
                })
                
                url = url.substr(0, url.length - 1)
                window.location.href = url
            })
        })
    </script>
}
